{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-param-reassign": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/button-has-type": "off",
    "react/no-array-index-key": "off",
    "no-plusplus": "off",
    "no-else-return": "off"
  },
  "ignorePatterns": [
    "craco.config.js"
  ]
}