@import '../vars.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: $border-radius / 2;
  letter-spacing: $letter-spacing;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  padding: $spacing;
  cursor: pointer;
  user-select: none;
  font-size: $font-size;
  outline: none;
  color: $primary-contrast-color;
  background-color: $primary-color;
  transition-property: background-color, opacity;
  transition-duration: $tr-duration;
  transition-timing-function: $tr-timing-fn;

  &:hover {
    background-color: $primary-color-dark;
  }

  &:disabled {
    opacity: 0.6;
  }

  &__ripple-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
  }

  &__ripple {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    opacity: 0.5;
    background-color: white;
    animation-name: ripple;
    animation-duration: 850ms;
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}