.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: calc(var(--border-radius) / 1.5);
  letter-spacing: inherit;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  padding: var(--spacing);
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  outline: none;
  color: var(--contrast-color);
  background-color: var(--color);
  transition-property: background-color, opacity;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--tr-timing-fn);

  &:hover {
    background-color: var(--color-dark);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  &:hover:disabled {
    background-color: var(--color);
  }
}