.checkbox {
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: rgba(var(--color-rgb), 0.2);
  }
  &:hover > .icon {
    border-color: var(--color-dark);
  }

  & > .icon {
    color: transparent;
    width: 24px;
    height: 24px;
    border: 3px solid var(--color);
    border-radius: calc(var(--border-radius) / 1.5);
    transition-property: background-color, border-color, color;
    transition-duration: var(--tr-duration);
    transition-timing-function: var(--tr-timing-fn);
  }
  &[data-checked=true] > .icon {
    background-color: var(--color);
    color: var(--contrast-color);
  }
  &[data-checked=true]:hover > .icon {
    background-color: var(--color-dark);
  }
}