.color-picker {
  display: flex;
  border-radius: calc(var(--border-radius) / 1.5);
  background-color: var(--background-color);
  padding: var(--spacing);

  &__color {
    border-radius: calc(var(--border-radius) / 1.5);
    background-color: var(--color);
    width: 24px;
    height: 24px;
    margin: calc(var(--spacing) / 2);
    transition-property: transform, opacity, background-color, border-radius;

    &.active {
      transform: scale(0.8);
      border-radius: 50%;
    }

    &:hover {
      background-color: var(--color-dark);
    }
  }
}