@import '../vars.scss';

.ripple {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: $border-radius / 1.5;
  letter-spacing: $letter-spacing;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  font-size: $font-size;
  outline: none;
  transition-property: background-color, opacity;
  transition-duration: $tr-duration;
  transition-timing-function: $tr-timing-fn;

  &__container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
  }

  &__elem {
    position: absolute;
    transform: scale(0);
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.5;
    background-color: white;
    animation-name: ripple;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}