.ripple {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  border-radius: calc(var(--border-radius) / 1.5);
  outline: none;

  &__container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
  }

  &__elem {
    position: absolute;
    transform: scale(0);
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.5;
    background-color: white;
    animation-name: ripple;
    animation-timing-function: var(--anim-timing-fn);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}