.ticker {
  overflow: hidden;
  display: flex;

  & > * {
    display: inline-flex;
  }

  &.scroll > * {
    animation: run 3000ms linear forwards infinite;
  }
}

@keyframes run {
  to {
    transform: translateX(-100%);
  }
}