.todo-item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition-property: transform, opacity, max-height, margin, background-color;
  transition-duration: 250ms;

  &:hover {
    background-color: var(--color-dark);
  }

  &-enter {
    transition-timing-function: var(--anim-timing-fn-in);
    opacity: 0;
    transform: scale(0.6);
    max-height: 0;
  }
  &-enter-active {
    opacity: 1;
    transform: scale(1);
    max-height: 68px;
  }
  &-exit {
    transition-delay: 0ms !important;
    transition-timing-function: var(--anim-timing-fn-out);
    opacity: 1;
    transform: scale(1);
    max-height: 68px;
  }
  &-exit-active {
    opacity: 0;
    transform: scale(0.6);
    max-height: 0;
    margin-block: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: calc(var(--spacing) * 2);
  }

  &__mark {
    position: absolute;
    background-color: gray;
    width: var(--border-radius);
    top: 0;
    bottom: 0;
    background-color: var(--color);
  }
}