.todo-body {
  position: relative;
  overflow: hidden;
  transition-property: max-height, padding;
  transition-duration: var(--anim-duration);
  transition-timing-function: var(--anim-timing-fn-in);
  padding-inline: calc(var(--spacing) * 4);

  &-enter {
    max-height: 0;
    padding-block: 0;
  }
  &-enter-active {
    max-height: 200px;
    padding-block: calc(var(--spacing) * 2);
  }
  &-enter-done {
    padding-block: calc(var(--spacing) * 2);
  }
  &-exit {
    max-height: 200px;
    padding-block: calc(var(--spacing) * 2);
  }
  &-exit-active {
    max-height: 0;
    padding-block: 0;
  }

  &__divider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}