@import './reset.scss';
@import './vars.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
}

body {
  margin: 0;
}

@import './components/App.scss';
@import './components/Container.scss';
@import './components/Ripple.scss';
@import './components/Paper.scss';
@import './components/Typography.scss';
@import './components/Divider.scss';
@import './components/Button.scss';
@import './components/IconButton.scss';
@import './components/CheckBox.scss';
@import './components/Input.scss';
@import './components/TodoItem.scss';