$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$letter-spacing: 0.4px;

$primary-color: #1c54b2;
$secondary-color: #e0e0e0;
$primary-contrast-color: #f5f5f5;
$secondary-contrast-color: #424242;
$background-color: #f5f5f5;

$border-radius: 12px;
$border-width: 2px;

$spacing: 8px;

$tr-duration: 150ms;
$tr-timing-fn: ease-in-out;

$anim-duration: 300ms;
$anim-timing-fn: ease-in-out;